pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
seaborn>=0.12.0
yfinance>=0.2.18
pypfopt>=1.5.5
PyPortfolioOpt>=5.14.0
torch>=2.0.0
aiohttp>=3.8.4
scikit-learn>=1.2.0
arch>=5.3.0
openpyxl>=3.1.0
xlsxwriter>=3.0.0
jinja2>=3.1.0
beautifulsoup4>=4.12.0
requests>=2.28.0
tqdm>=4.65.0
financedatabase
xgboost